# Application Settings
SERVER_PORT=3000

# Redis Connection
REDIS_URL=redis://127.0.0.1:6379

# Rate Limiter Settings
LIMITER_MAX_REQUESTS=3
LIMITER_WINDOW_SIZE_MS=5000
LIMITER_STRATEGY=fixed # sliding or fixed
LIMITER_BACKEND=redis    # redis or memory (falls back to memory if redis is down)
